<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TossPay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TossPayExampleForNativeShop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TossPayExampleForWebShop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1756B39D1B723DD600A4ABF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1756B3B61B723DD600A4ABF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1756B3C81B723DE600A4ABF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1756B3E01B723DE600A4ABF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1756B3F21B723E5400A4ABF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1756B3FC1B723E5400A4ABF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1756B4131B7240F500A4ABF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1756B41D1B7240F500A4ABF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176F4A931B749EEF000E26AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176F4A9D1B749EEF000E26AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176F4AAF1B74A7B4000E26AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176F4AB91B74A7B4000E26AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176F4AD21B74B1A1000E26AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176F4ADC1B74B1A1000E26AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176F4AED1B74B1C8000E26AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176F4AF71B74B1C9000E26AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176F4B081B74B213000E26AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176F4B121B74B213000E26AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
